<%= render "shared/errors", orm: @chef %>
<div class="row">
  <div class="col-md-12">
  <%= form_with model: @chef, :html => { class:"form-horizontal" , role:"form"} do |form| %>
      <div class="form-group">
          <div class="control-label col-md-2">
            <%= form.label :chefname , "User Name"%>
          </div>
          <div class="col-md-8">
            <%= form.text_field :chefname, class:"form-control",placeholder:'User Name', autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= form.label :email %><br/>
          </div>
          <div class="col-md-8">
            <%= form.email_field :email, class:"form-control",placeholder:'Email ID' %>
          </div>
          </div>
          <div class="form-group">
          <div class="control-label col-md-2">
            <%= form.label :password %><br/>
          </div>
          <div class="col-md-8">
            <%= form.password_field :password, class:"form-control",placeholder:'Enter Password' %>
          </div>
          </div>
            <div class="form-group">
          <div class="control-label col-md-2">
            <%= form.label :password_confirmation %><br/>
          </div>
          <div class="col-md-8">
            <%= form.password_field :password_confirmation, class:"form-control",placeholder:'Password Confirmation' %>
          </div>
          </div>
        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= form.submit action_text, class:"btn btn-primary btn-lg btn-small"%>
          </div>
        </div>
  <% end %>
<div class="col-md-offset-4">
  <%= link_to "Back to Home Page", root_path,class:"btn btn-danger btn-small" %>
</div>
 </div>

