<%= render 'shared/pagetitle', pageTitle: 'Listing all Chefs'%>
<div align="center">
<%= will_paginate %>
</div>
<div align="center">
  <% @chefs.each do |chef|%>
      <div class="row">
        <ul class="listing">
        <div class="well col-md-4 col-md-offset-4 center">
          <li><%= link_to gravatar_for(chef,size:150), chef_path(chef) %></li>
          <li class="chef-title"><%= link_to chef.chefname.capitalize, chef_path(chef)%></li>
          <%= pluralize(chef.recipes.count , 'Recipe') if chef.recipes.count >= 0 %>
          <% if logged_in? && current_user.admin? && !chef.admin? %>
          <li> <%= button_to 'Delete Chef', chef_path(chef), method: :delete ,class: "btn btn-danger" %></li>
          <%end%>
          <br/>
        </div>
        </ul>
    </div>
  <% end %>
</div>
<div align="center">
<%= will_paginate %>
</div>
