<%= render 'shared/pagetitle', pageTitle: "Profile of: #{@chef.chefname.capitalize}" %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
    <%# <%= gravatar_for(@chef,size:150) %>
    </div>
</div>
</div>
<div class="container">
 <div align="center">
 <%= will_paginate @chef_recipes%>
 </div>
   <%= render 'recipes/listings', obj: @chef_recipes %>
 </div>
 <div align="center">
 <%= will_paginate @chef_recipes%>
 </div>

