<% obj.each do |recipe|%>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
        <%= link_to gravatar_for(recipe.chef, size: 120), chef_path(recipe.chef) %>
        <br/>
        <p><small> <%=recipe.chef.chefname%> </small></p>
      </section>
    </div>
    <br/>
  <div class="col-md-8 well">
    <h3 align="center"><%= link_to recipe.name,recipe_path(recipe)%> </h3>
    <p><%= truncate(recipe.description, length: 150)%> </p>
    <p><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small> </p>
          <%if current_user == recipe.chef %>
          <div class="recipe-actions">
              <%= link_to   "Edit Recipe" ,edit_recipe_path(recipe), class:"btn btn-warning buttons"%>
              <%= button_to  "Destroy", recipe_path(recipe), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger buttons" %>
          </div>
        <%end%>
  </div>
</div>
<% end %>
