

<% if @recipe.errors.any? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
      <h2 class="panel-title"> <%= pluralize(@recipe.errors.count ,"errors") %> from saving this <%= @recipe.class%> </h2>
      </div>
      <div class="panel-heading">
          <ul>
            <% @recipe.errors.full_messages.each do |msg|%>
            <li><%= msg%></li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render "shared/pagetitle", pageTitle: "Edit : #{@recipe.name} " %>

  <div class="row">
    <div class="col-md-12">
<%= form_with model: @recipe, :html => { class:"form-horizontal" , role:"form"} do |form| %>
      <div class="form-group">
          <div class="control-label col-md-2">
            <%= form.label :name %>
          </div>
          <div class="col-md-8">
            <%= form.text_field :name, class:"form-control",placeholder:'Recipe name', autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= form.label :description %><br/>
          </div>
          <div class="col-md-8">
            <%= form.text_area :description, class:"form-control",placeholder:'Recipe Steps',  size: "60x10" %>
          </div>
          </div>
        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= form.submit class:"btn btn-primary btn-lg btn-xlarge"%>
          </div>
        </div>
<% end %>
<div class="col-md-offset-4">
  <%= link_to "Cancel and Back to Recipes", recipes_path,class:"btn btn-danger btn-small" %>
</div>
    </div>
  </div>
