<!DOCTYPE html>
<html>
  <head>
    <title>Train of Thoughts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbolink-track": "reload" %>
    <%= javascript_tag "application", "data-turbolink-track": "reload" %>
  </head>
  <body>
  <%= render "pages/navbar" %>
  <%= render "layouts/flash_message" %>
  <div class="container">
    <%= yield %>
    </div>
  </body>
  <%= render "pages/footer" %>
</html>
